h2 {
  text-align: center;
  line-height: 1.8;
  color: black;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin-top: 10px;
  font-weight: 500;
  line-height: 1.2;
}
small {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.days-dec {
  margin: 30px 4px;
  text-align: center;
  color: black;
  padding-bottom: 10px;
}
.container {
  max-width: 600px;
  margin-top: 50px;
  padding: 4px;
  background-image: url("../media/sky2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#temperature {
  font-size: 64px;
  line-height: 1;
}

.celsius {
  position: relative;
  top: -32px;
}

.image-sizing {
  position: relative;
  height: 100px;
  width: 100px;
  margin-right: -13px;
  top: -13px;
  left: -14px;
}
.image-weather {
  margin-top: -25px;
}

.weather-forecast-temperature {
  font-size: 14px;
  color: black;
}
.weather-forecast-min {
  opacity: 0.6px;
}
.information {
  margin-top: 50px;
  color: black;
}

.weather-colu {
  margin: 30px 10px;
  background: linear-gradient(
    110.5deg,
    rgba(253, 248, 253, 0.671) 22.8%,
    rgba(248, 217, 190, 0.411) 64.6%
  );
}

.search-box {
  margin-left: 20px;
}
